# https://github.com/Homebrew/homebrew-bundle

{{ if eq .chezmoi.os "darwin" -}}
# BEGINNING macOS only section...
tap "homebrew/cask-fonts"

# casks installed on every macOS machine
cask "firefox"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "fork"

{{ if ne .env "utm" -}}
# casks installed only on macOS machines that are not 'utm'
brew "podman"
cask "podman-desktop"
cask "balenaetcher"
cask "spotify"
cask "tiles"
cask "utm"
cask "wezterm"
{{- end }}

{{ if eq .env "private" -}}
# casks installed only on macOS machines that are 'private'
cask "keepingyouawake"
cask "raspberry-pi-imager"
cask "thunderbird"
{{- end }}

{{ end }}
