#!/usr/bin/env bash

{{ if (and (eq .chezmoi.os "linux") (eq .env "server") ) }}
type podman&> /dev/null
if [[ $? -ne 0 ]]; then
  echo "🐳 Installing Podman..." && sleep 2
  nix profile install nixpkgs#{podman,podman-compose}
fi
{{ end }}
