#!/usr/bin/env bash

# 'Brewfile' hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
# This will re-execute this script if the SHA256 sum changes 😎
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes

{{ if eq .chezmoi.os "darwin" }}
brew bundle --global -q --no-lock
{{ end }}
