export XDG_DATA_HOME="$XDG_CONFIG_HOME/local/share"
export XDG_CACHE_HOME="$XDG_CONFIG_HOME/cache"

export EDITOR="nvim"
export VISUAL="nvim"

export HOMEBREW_NO_ANALYTICS=1

export FZF_DEFAULT_COMMAND="rg --files --hidden --glob '!.git'"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export TIMEWARRIORDB="$XDG_CONFIG_HOME/timewarrior"

export ZSH="$XDG_CONFIG_HOME/zsh/.oh-my-zsh"
export ZSH_CUSTOM="$ZSH/custom"
export KEEP_ZSHRC="yes"

{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else }}
# no homebrew support!
{{ end }}
