layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:zjstatus.wasm" {
        format_left  "{mode}#[fg=black,bg=blue,bold]{session} #[fg=blue,bg=#181825]{tabs}"
        format_center ""
        format_right "#[fg=green,bg=#181825]{command_kubectx}#[fg=black,bg=green]::{command_kubens}#[fg=#181825,bg=green]#[fg=#b1bbfa,bg=#181825]{datetime}"
        format_space "#[bg=#181825]"

        mode_normal  "#[bg=blue] "
        mode_tmux    "#[bg=#ffc387] "

        tab_normal  "#[fg=#181825,bg=#4C4C59] #[fg=black,bg=#4C4C59]{index}  {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=#4C4C59,bg=#181825]"
        tab_active  "#[fg=#181825,bg=white,bold,italic] {index}  {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=white,bg=#181825]"

        tab_sync_indicator       " "
        tab_fullscreen_indicator "□ "
        tab_floating_indicator   "󰉈 "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        command_kubectx_command   "kubectx -c"
        command_kubectx_format    "#[fg=black,bg=green] ⎈ {stdout}"
        command_kubectx_interval  "2"

        command_kubens_command   "kubens -c"
        command_kubens_format    "#[fg=black,bg=green]{stdout} "
        command_kubens_interval  "2"

        datetime          "#[fg=black,bg=#b1bbfa]   {format} "
        datetime_format   "%a, %Y-%m-%d %H:%M"
        datetime_timezone "Europe/Berlin"
      }
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
